# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [39]:
import datetime as dt
from datetime import datetime

from pandas import merge

In [27]:
import numpy as np

In [1]:
import pandas as pd

In [37]:
df_of_interest_il = pd.read_csv('exam/BR.csv')

In [44]:
df_of_interest_il

,SERIES_CODE,שם סדרה,FREQ,תדירות,IR_FV_TYPE,סוג ריבית,DATA_SOURCE,מקור נתונים,TIME_COLLECT,אופן חישוב בתקופת זמן,CONF_STATUS,סיווג סודיות,UNIT_MEASURE,יחידות מידה,UNIT_MULT,מכפיל יחידות,TIME_PERIOD,OBS_VALUE,RELEASE_STATUS,שחרור תצפית
0,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,1994-01-27,10.50,YP,תצפית משוחררת לציבור ופנימית ( Public)
1,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,1994-01-28,10.50,YP,תצפית משוחררת לציבור ופנימית ( Public)
2,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,1994-01-29,10.50,YP,תצפית משוחררת לציבור ופנימית ( Public)
3,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,1994-01-30,10.50,YP,תצפית משוחררת לציבור ופנימית ( Public)
4,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,1994-01-31,10.50,YP,תצפית משוחררת לציבור ופנימית ( Public)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10926,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,2023-12-27,4.75,YP,תצפית משוחררת לציבור ופנימית ( Public)
10927,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,2023-12-28,4.75,YP,תצפית משוחררת לציבור ופנימית ( Public)
10928,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,2023-12-29,4.75,YP,תצפית משוחררת לציבור ופנימית ( Public)
10929,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,2023-12-30,4.75,YP,תצפית משוחררת לציבור ופנימית ( Public)
10930,MNT_RIB_BOI_D,ריבית בנק ישראל,D,יומי,RIB_BOI,ריבית בנק מרכזי מוצהרת נומינלית,BOI,בנק ישראל,V,אחר,F,לא סודי,PT,אחוזים,0,יחידות,2023-12-31,4.75,YP,תצפית משוחררת לציבור ופנימית ( Public)

In [43]:
df_of_interest_il.columns

Index(['SERIES_CODE', 'שם סדרה', 'FREQ', 'תדירות', 'IR_FV_TYPE', 'סוג ריבית',
       'DATA_SOURCE', 'מקור נתונים', 'TIME_COLLECT', 'אופן חישוב בתקופת זמן',
       'CONF_STATUS', 'סיווג סודיות', 'UNIT_MEASURE', 'יחידות מידה',
       'UNIT_MULT', 'מכפיל יחידות', 'TIME_PERIOD', 'OBS_VALUE',
       'RELEASE_STATUS', 'שחרור תצפית'],
      dtype='object')

In [81]:
# אני מכניס את התאריך לרשימה אחת
df_fix_of_il_year_month = df_of_interest_il.TIME_PERIOD

In [82]:
# אני מכניס את האחוזים של הריבית לרשימה אחת
df_fix_of_il_OBS_VALUE = df_of_interest_il.OBS_VALUE

In [88]:
# אני משלב את שני הרשימות
df_fix_of_il = pd.merge(df_fix_of_il_year_month, df_fix_of_il_OBS_VALUE, left_index=True, right_index=True)

In [90]:
df_fix_of_il.head()

  TIME_PERIOD  OBS_VALUE
0  1994-01-27       10.5
1  1994-01-28       10.5
2  1994-01-29       10.5
3  1994-01-30       10.5
4  1994-01-31       10.5

In [89]:
# אני רוצה לסנן את השורות שאינם תחילת החודש
# df_fix_of_il = df_fix_of_il.drop(df_fix_of_il['TIME_PERIOD'[8:] != '01'].index)
df_fix_of_il['TIME_PERIOD'] = pd.to_datetime(df_fix_of_il['TIME_PERIOD'], errors='coerce')

In [93]:
# אני עובר פה על הימים מוצא את הימים שלא מיוצגים כראשון לחודש ואז זורק אותם
# בשביל זה יבאתי את datatime
for day in df_fix_of_il['TIME_PERIOD'].dt.day.unique():
    if day != '01':
        df_fix_of_il = df_fix_of_il.drop(day)

In [94]:
df_fix_of_il.isna

<bound method DataFrame.isna of       TIME_PERIOD  OBS_VALUE
0      1994-01-27      10.50
32     1994-02-28      10.50
33     1994-03-01      10.50
34     1994-03-02      10.50
35     1994-03-03      10.50
...           ...        ...
10926  2023-12-27       4.75
10927  2023-12-28       4.75
10928  2023-12-29       4.75
10929  2023-12-30       4.75
10930  2023-12-31       4.75

[10900 rows x 2 columns]>

In [ ]:
# אני רוצה להוציא את השינויים מהחודשים הקודמים
Change_From_Last_Month_of_il = df_of_interest_il[]

In [17]:
df_US_interest = pd.read_csv('exam/FEDFUNDS_2_Vintages_Starting_1996_12_03.txt')

In [19]:
df_USD_to_ILS = pd.read_csv('exam/USD_ILS Historical Data.csv')

In [ ]:
# columns for each
# - Year
# - Month
# - Current_Rate (Interest rate or exchange rate for that month)
# - Change_From_Last_Month

In [ ]:
# your code here

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [5]:
# A - 1
# your code here

In [7]:
# A - 2
# your code here

In [8]:
# A - 3
# your code here

In [9]:
# A - 4
# your code here

In [ ]:
# A - 5
# your code here

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [1]:
# B - 1
# your code here

In [2]:
# B - 2
# your code here

In [3]:
# B - 3
# your code here

In [4]:
# B - 4
# your code here

In [6]:
# B - 5
# your code here

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here